{
  "presets": [
    "@babel/react",
    "@babel/typescript"
  ],
  "plugins": [
    [
      "@babel/plugin-proposal-class-properties",
      {
        "loose": false
      }
    ]
  ],
  "env": {
    "esm": {
      "sourceMaps": "inline",
      "compact": false,
      "comments": true,
      "presets": [
        [ "@babel/env", {
          "loose": true,
          "shippedProposals": true,
          "modules": false,
          "targets": {
            "ie": 9
          }
        }],
        "@babel/react",
        "@babel/typescript"
      ],
      "plugins": [
        [ "@babel/transform-runtime", { "useESModules": true } ]
      ]
    },
    "test": {
      "sourceMaps": "inline",
      "compact": false,
      "comments": true
    }
  }
}
