.predefined-range,
.custom-range {
    .date-time-range-picker-footer {
        display: none
    }
}

.predefined-range {
    .date-time-range-picker-calendar,
    .date-time-range-picker-col-spacer {
        display: none;
    }
}

.custom-range {
    .date-time-range-picker-calendar,
    .date-time-range-picker-col-spacer {
        display: block;
    }
}
